*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}

.header {
  margin: 10px;
}

#game {
  border: 1px solid #c01f1fe8;
  margin-left: 10px;
}

#startPopup {
  position: absolute;
  top: 50%;
  left: 505px;
  transform: translate(-50%, -50%);
  background: #fff;
  border: 1px solid #333;
  padding: 20px;
  text-align: center;
}

#startBtn,
#exitBtn {
  cursor: pointer;
  margin: 5px;
  padding: 5px;
  border: 1px solid #c01f1fe8;
}

#gameContainer {
  display: flex;
  gap: 10px;
}

#uiPanel {
  display: none;
}

#endTurnBtn {
  cursor: pointer;
}
